  .copiar{
    background-color: #020659;
    color:#fff7a1;
    height: 30px;
    width: 100px;
  }
     .emoji{
        width: 32px;
        height: 32px;
        margin: 0px;
        padding: 0px;
      }
      h1,h2{
        font-family: 'Lobster', cursive;
        color:#020659;
      }
      h1{
        font-size: 60px;
        text-align: center;
      }
      h2{
        font-size: 25px;
        text-align: left;
      }
      body{
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        color:rgb(56, 73, 165);
        background: rgb(223, 242, 247);
      }
      textarea{
        background: #6DCCF2;
        color:#101C2C;
        padding: 15px;
        width: 100%;
      }
      div{
        margin:0 auto;
        width:80%;        
        text-align: center;
      }      
      img{
        margin:40px 0px;
        border-radius: 25px;
        padding: 10px;        
        width: 100%;
        max-width: 530px;
      }

      .imagen_grande{
        max-width: 850px;
      }
      p,.codigo{
        text-align: left;
      }
      @media screen and (max-width: 720px) {
        h1{
          font-size: 30px;
        }
        h2{
          font-size: 20px;
        }
        
      }

      #pensum{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 0;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 106px solid transparent;
        border-top: 100px solid #e31e70;
      }
      #pensum span{
        transform: rotate(-44.3deg) translateX(48px) translateY(-27px);
        display: block;
        color: #fff7a1;
      }
     body{
        background: #8bd2ed;
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        color:rgb(56, 73, 165);
        text-align: center;
        font-size: 24px;
        padding-top: 5vh;
    }
    h1{
        font-family: 'Lobster', cursive;
        color:#020659;
        font-size: 60px;
        text-align: center;
      }
      #pensum{
        position: fixed;
        top: 0px;
        left: 0px;
        width: 0;
        height: 0;
        border-left: 0px solid transparent;
        border-right: 106px solid transparent;
        border-top: 100px solid #e31e70;
        z-index: 1;
      }
      #pensum span{
        transform: rotate(-44.3deg) translateX(48px) translateY(-27px);
        display: block;
        color: #fff7a1;
        font-size: 18px;
      }
      a{
          text-decoration: none;
      }
      #youtube{
        width: 100%;
        height: 7vh;
        line-height: 7vh;
        background-color: #fff7a1;
        position: fixed;
        top:0px;
        left: 0px;
        color:#020659;
        font-size: 3vh;
      }
      @media only screen and (min-width: 320px) and (max-width: 480px){
            #youtube{
                    font-size: 12px;
                    padding-left: 30px;
            }
      }
      @media only screen and (min-width: 480px) and (max-width: 1024px){  
                #youtube{
                    font-size: 16px;
                    height: 60px;
                }
        }
